<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game of Life</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<script src="scripts/logic.js" type="module"></script>

<body>
    <section class="head">
        <p>Click on the cell to start the game</p>
        <div id="buttons">
            <button id="pause">Pause Game</button>
            <button id="start">Start Game</button>
            <button id="reset" disabled>Reset game</button>
            <div class="counter" id="rows">
                <div>Number of rows: <span>30</span></div>
                <button class="up"><img src="img/up.svg" alt="go up"></button>
                <button class="down"><img src="img/down.svg" alt="go down"> </button>
            </div>
            <div class="counter" id="cols">
                <div>Number of cols: <span>57</span></div>
                <button class="up"><img src="img/up.svg" alt="go up"></button>
                <button class="down"><img src="img/down.svg" alt="go down"> </button>
            </div>
        </div>
    </section>
    <section class="game">
        <canvas></canvas>
    </section>
    <div id="tooltip">
        Row: <span id="row"></span> Col: <span id="col"></span><br>
        Index: <span id="index"></span> State <span id="state"></span>
    </div>
</body>

</html>
